Repository import-ai/omnibox-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{js,css,json,md}": ["prettier --write"]
}

feat(icon): update icon
  index.html
Due: none

style(sidebar): update sidebar ui
  src/lib/group.ts
  src/page/sidebar/content/tree.tsx
Due: eslint --fix, prettier --write

feat(track): add track support
  src/layout/index.tsx
  src/lib/send-track-event.ts
Due: eslint --fix, prettier --write

fix(comment): fix comments
  src/layout/index.tsx
  src/lib/send-track-event.ts
Due: eslint --fix, prettier --write

fix(comment): fix comments
  src/lib/request.ts
Due: eslint --fix, prettier --write

chore(lang): Support specify lang in stream response, parsing yaml front matter from md file
  src/components/attributes/index.tsx
  src/components/attributes/metadata.tsx
  src/lib/wizard-lang.ts
  src/page/chat/conversation/types.tsx
  src/page/chat/conversation/utils.tsx
  src/page/chat/header/index.tsx
Due: eslint --fix, prettier --write

Update const.ts
  src/const.ts
Due: eslint --fix, prettier --write

chore(chat): Optimize response copy
  src/page/chat/messages/citations/citation-markdown.tsx
Due: eslint --fix, prettier --write

fix(auth): fix auth bug
  src/i18n/locales/zh.json
  src/page/user/google/index.tsx
Due: eslint --fix, prettier --write

feat(resource): show share action button
  src/page/resource/actions/index.tsx
  src/page/resource/actions/share/index.tsx
  src/page/resource/actions/share/tabs.tsx
  src/page/search/index.tsx
Due: eslint --fix, prettier --write

refactor(share): upate share type
  src/page/resource/actions/share/share/index.tsx
  src/page/resource/actions/share/share/share-type.tsx
Due: eslint --fix, prettier --write

feat(chat): change history opacity when hover button
  src/page/sidebar/header/index.tsx
Due: eslint --fix, prettier --write

feat(application): Support wechat bot application
  package.json
  pnpm-lock.yaml
  src/const.ts
  src/hooks/use-applications.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/interface.ts
  src/page/sidebar/switcher/applications/bind-dialog.tsx
  src/page/sidebar/switcher/applications/index.tsx
  src/page/sidebar/switcher/swtting-wrapper.tsx
Due: eslint --fix, prettier --write

feat(application): Handle binding in progress state
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/interface.ts
  src/page/sidebar/switcher/applications/index.tsx
Due: eslint --fix, prettier --write

feat(application): Add cancel binding for wechat bot in progress state
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/sidebar/switcher/applications/index.tsx
Due: eslint --fix, prettier --write

feat(application): Add i18n support and validation for app_id display
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/sidebar/switcher/applications/index.tsx
Due: eslint --fix, prettier --write

feat(application): Display related application for API keys
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/interface.ts
  src/page/sidebar/switcher/form/api-key.tsx
Due: eslint --fix, prettier --write

feat(application): Add logo overlay to WeChat bot binding QR code
  src/assets/logo.svg
  src/page/sidebar/switcher/applications/bind-dialog.tsx
Due: eslint --fix, prettier --write

feat(application): Support loop check
  src/hooks/use-applications.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/sidebar/switcher/applications/bind-dialog.tsx
  src/page/sidebar/switcher/applications/index.tsx
Due: eslint --fix, prettier --write

feat(application): Add update functionality for API keys
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/sidebar/switcher/form/api-key.tsx
Due: eslint --fix, prettier --write

feat(application): Update Docker configuration to support BACKEND env
  Dockerfile
  entrypoint.sh
  nginx.conf.template
Due: none

chore(deps): Move @types/qrcode to dev
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(deploy): Add helm support
  helm/.helmignore
  helm/Chart.yaml
  helm/templates/omnibox-web.yaml
  helm/values.yaml
Due: none

chore(mv): Move helm dir
  helm/web/.helmignore
  helm/web/Chart.yaml
  helm/web/templates/omnibox-web.yaml
  helm/web/values.yaml
Due: none

feat(share): add password failure handling
  src/page/share/index.tsx
  src/page/share/password.tsx
Due: eslint --fix, prettier --write

feat(share): add loading state to password
  src/page/share/index.tsx
  src/page/share/password.tsx
Due: eslint --fix, prettier --write

fix(bug): Fix 564
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
Due: prettier --write

fix(api-key): Fix lost related_app_id while patching
  helm/web/templates/omnibox-web.yaml
  src/hooks/use-api-keys.ts
  src/page/sidebar/switcher/form/api-key.tsx
Due: eslint --fix, prettier --write

fix(bug): Fix 566
  helm/web/Chart.yaml
  src/hooks/use-applications.ts
  src/interface.ts
  src/page/sidebar/switcher/applications/bind-dialog.tsx
  src/page/sidebar/switcher/applications/index.tsx
Due: eslint --fix, prettier --write

chore(ci): update webhook
  .github/workflows/ci.yaml
Due: none

fix(i18n): update i18n
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
Due: prettier --write

fix(ci): Fix ci
  .github/workflows/ci.yaml
  helm/web/templates/omnibox-web.yaml
Due: none

fix(logout): remove cookie when logout
  src/page/user/logout.tsx
Due: eslint --fix, prettier --write

chore(login): Add logo and i18n in login page
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/user/wrapper.tsx
Due: eslint --fix, prettier --write

feat(collect): Support domain icon
  package.json
  pnpm-lock.yaml
  src/page/sidebar/content/icon.tsx
Due: eslint --fix, prettier --write

refactor(shared-resource): reuse folder component
  src/interface.ts
  src/page/resource/folder/content.tsx
  src/page/resource/folder/index.tsx
  src/page/resource/page.tsx
  src/page/resource/utils.ts
  src/page/share/sidebar-item.tsx
  src/page/share/sidebar.tsx
  src/page/shared-resource/folder-children.tsx
  src/page/shared-resource/index.tsx
  src/page/shared-resource/shared-folder-content.tsx
Due: eslint --fix, prettier --write

feat(share): add shared-chat page
  src/App.tsx
  src/interface.ts
  src/page/share/index.tsx
  src/page/share/sidebar.tsx
  src/page/shared-chat/chat-input/index.tsx
  src/page/shared-chat/conversation/index.tsx
  src/page/shared-chat/conversation/scrollbar.tsx
  src/page/shared-chat/conversation/types.tsx
  src/page/shared-chat/conversation/useContext.tsx
  src/page/shared-chat/conversation/utils.tsx
  src/page/shared-chat/header/index.tsx
  src/page/shared-chat/header/title/index.tsx
  src/page/shared-chat/home.tsx
  src/page/shared-chat/index.tsx
  src/page/shared-chat/page.tsx
  src/page/shared-chat/useContext.ts
Due: eslint --fix, prettier --write

refactor(share): update share-type
  src/page/resource/actions/share/share/share-type.tsx
Due: eslint --fix, prettier --write

refactor(share): fix sidebar
  src/page/share/index.tsx
  src/page/share/sidebar-item.tsx
  src/page/share/sidebar.tsx
Due: eslint --fix, prettier --write
