Repository import-ai/omnibox-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint", "prettier --check"],
  "*.{js,css,json,md}": ["prettier --check"]
}

feat(feedback): Update feedback link to community and expand proxy config (#310)
  src/page/sidebar/footer/index.tsx
  vite.config.ts
Due: eslint, prettier --check

feat(setting): add upgrade button to settings page
  src/hooks/use-config.ts
  src/hooks/use-pro-namespaces.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/interface.ts
  src/page/sidebar/switcher/index.tsx
  src/page/sidebar/switcher/invite-button.tsx
  src/page/sidebar/switcher/namespace-list.tsx
  src/page/sidebar/switcher/settings-sidebar.tsx
  src/page/sidebar/switcher/upgrade-button.tsx
Due: eslint, prettier --check

fix(comment): fix comments
  src/hooks/use-namespaces.ts
  src/hooks/use-pro-namespaces.ts
Due: eslint, prettier --check

fix(comment): fix comments
  src/page/sidebar/switcher/settings-sidebar.tsx
  src/page/sidebar/switcher/upgrade-button.tsx
Due: eslint, prettier --check

refactor(chat): Restructure citation handling and message types
  example.env
  package.json
  pnpm-lock.yaml
  src/lib/stream-transport.ts
  src/lib/websocket.ts
  src/page/chat/chat-input/types.tsx
  src/page/chat/conversation/message-operator.tsx
  src/page/chat/conversation/types.tsx
  src/page/chat/conversation/utils.tsx
  src/page/chat/conversations/useContext.ts
  src/page/chat/messages/citations/citation-hover-icon.tsx
  src/page/chat/messages/citations/citation-markdown.tsx
  src/page/chat/messages/citations/citations-sheet.tsx
  src/page/chat/messages/citations/utils.tsx
  src/page/chat/messages/index.tsx
  src/page/chat/messages/role/assistant-message.tsx
  src/page/chat/messages/role/tool-message.tsx
  src/page/chat/types/chat-response.tsx
  src/page/chat/types/conversation.tsx
Due: eslint, prettier --check

refactor(chat): Clean up types and remove unused websocket utility
  src/lib/websocket.ts
  src/page/chat/chat-input/types.ts
  src/page/chat/conversation/types.ts
  src/page/chat/conversation/utils.ts
  src/page/chat/messages/citations/citation-hover-icon.tsx
  src/page/chat/messages/citations/utils.ts
  src/page/chat/messages/role/assistant-message.tsx
  src/page/chat/messages/role/tool-message.tsx
  src/page/chat/messages/role/user-message.tsx
  src/page/chat/types/chat-response.ts
  src/page/chat/types/conversation.ts
Due: eslint, prettier --check

fix(comment): fix comments
  src/interface.ts
Due: eslint, prettier --check

feat: Add function icons for resource titles and optimize tag extraction settings
  src/App.tsx
  src/components/attributes/index.tsx
  src/hooks/auth-config-context.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/resource/actions/index.tsx
  src/page/resource/actions/move/form.tsx
  src/page/resource/actions/move/index.tsx
  src/page/resource/actions/move/resource.tsx
  src/page/resource/page.tsx
  src/page/sidebar/switcher/content/auto-tag.tsx
  src/page/sidebar/switcher/form/api-key.tsx
  src/page/sidebar/switcher/form/components/resource-search.tsx
  src/page/sidebar/switcher/form/profile.tsx
  src/page/sidebar/useContext.ts
  src/page/user/available.tsx
Due: eslint, prettier --check

fix(comment): fix comments
  src/assets/icons/upgrade.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/interface.ts
  src/page/sidebar/switcher/namespace-list.tsx
  src/page/sidebar/switcher/quota/expiration.tsx
  src/page/sidebar/switcher/quota/index.tsx
  src/page/sidebar/switcher/upgrade-button.tsx
Due: eslint, prettier --check

fix: Fix the button style and resource details display
  src/components/attributes/index.tsx
  src/page/resource/page.tsx
  src/page/sidebar/switcher/third-party/apple.tsx
  src/page/sidebar/switcher/third-party/google.tsx
  src/page/sidebar/switcher/third-party/wechat.tsx
Due: eslint, prettier --check

fix: Restore resource details style
  src/components/attributes/index.tsx
  src/page/resource/page.tsx
Due: eslint, prettier --check

fix: Fix the border color of the verification code for mobile phone and email
  src/components/attributes/index.tsx
  src/page/user/components/otp-input.tsx
Due: eslint, prettier --check

fix(comment): fix comments
  src/hooks/use-quota.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/sidebar/switcher/quota/expiration.tsx
  src/page/sidebar/switcher/quota/index.tsx
Due: eslint, prettier --check

fix: Fix label spacing
  src/components/attributes/constants.ts
  src/components/attributes/name.tsx
  src/components/attributes/url.tsx
  src/components/tags/display.tsx
  src/components/tags/tags.tsx
Due: eslint, prettier --check

fix(usage): fix usage error
  src/hooks/use-namespaces.ts
  src/hooks/use-pro-namespaces.ts
  src/hooks/use-quota.ts
  src/page/sidebar/switcher/index.tsx
  src/page/sidebar/switcher/quota/index.tsx
Due: eslint, prettier --check

fix(comment): fix comments
  src/hooks/use-config.ts
  src/page/sidebar/switcher/index.tsx
Due: eslint, prettier --check

feat(setting): add upgrade button to settings page
  src/assets/icons/upgrade.tsx
  src/hooks/use-config.ts
  src/hooks/use-pro-namespaces.ts
  src/hooks/use-quota.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/interface.ts
  src/page/sidebar/switcher/index.tsx
  src/page/sidebar/switcher/invite-button.tsx
  src/page/sidebar/switcher/namespace-list.tsx
  src/page/sidebar/switcher/quota/expiration.tsx
  src/page/sidebar/switcher/quota/index.tsx
  src/page/sidebar/switcher/settings-sidebar.tsx
  src/page/sidebar/switcher/upgrade-button.tsx
Due: eslint, prettier --check

fix(layout): Handle JS resource 404 error with auto refresh
  src/layout/error.tsx
Due: eslint, prettier --check

feat: Add function icons for resource titles and optimize tag extract… (#312)
  src/App.tsx
  src/components/attributes/constants.ts
  src/components/attributes/index.tsx
  src/components/attributes/name.tsx
  src/components/attributes/url.tsx
  src/components/tags/display.tsx
  src/components/tags/tags.tsx
  src/hooks/auth-config-context.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/resource/actions/index.tsx
  src/page/resource/actions/move/form.tsx
  src/page/resource/actions/move/index.tsx
  src/page/resource/actions/move/resource.tsx
  src/page/sidebar/switcher/content/auto-tag.tsx
  src/page/sidebar/switcher/form/api-key.tsx
  src/page/sidebar/switcher/form/components/resource-search.tsx
  src/page/sidebar/switcher/form/profile.tsx
  src/page/sidebar/switcher/third-party/apple.tsx
  src/page/sidebar/switcher/third-party/google.tsx
  src/page/sidebar/switcher/third-party/wechat.tsx
  src/page/sidebar/useContext.ts
  src/page/user/available.tsx
  src/page/user/components/otp-input.tsx
Due: eslint, prettier --check

fix(layout): Handle JS resource 404 error with auto refresh (#313)
  src/layout/error.tsx
Due: eslint, prettier --check

feat: Add share sidebar scroll and auto-expand functionality
  src/page/share/sidebar-item.tsx
  src/page/share/sidebar.tsx
Due: eslint, prettier --check

feat: Add scrolling feature to the sharing page
  src/assets/icons/email.tsx
  src/assets/icons/wechatIcon.tsx
  src/page/share/layout.tsx
  src/page/share/sidebar.tsx
Due: eslint, prettier --check

fix: Add scrolling to space names
  src/page/sidebar/switcher/index.tsx
Due: eslint, prettier --check

fix: Fix sidebar title update
  src/components/resource-tasks/index.tsx
  src/page/sidebar/useContext.ts
Due: eslint, prettier --check

feat: Add a disabled flag
  src/components/permission-action/action.tsx
  src/page/sidebar/switcher/manage/member/action.tsx
Due: eslint, prettier --check

chore(deps): Pin @omnibox/react-common to specific commit
  package.json
  pnpm-lock.yaml
Due: prettier --check

refactor(chat): Import types directly from SDK
  pnpm-lock.yaml
  src/page/chat/chat-input/action.tsx
  src/page/chat/chat-input/chat-tool.tsx
  src/page/chat/chat-input/index.tsx
  src/page/chat/chat-input/types.ts
  src/page/chat/conversation/useContext.tsx
  src/page/chat/conversation/utils.ts
  src/page/chat/home.tsx
  src/page/share/index.tsx
Due: eslint, prettier --check

refactor(chat): Remove re-export files and use SDK directly
  src/lib/stream-transport.ts
  src/page/chat/components/save.tsx
  src/page/chat/conversation/message-operator.tsx
  src/page/chat/conversation/types.ts
  src/page/chat/conversation/useContext.tsx
  src/page/chat/conversation/utils.ts
  src/page/chat/messages/citations/citation-markdown.tsx
  src/page/chat/messages/hooks/useMessageSiblings.ts
  src/page/chat/messages/index.tsx
  src/page/chat/messages/role/assistant-message.tsx
  src/page/chat/messages/role/tool-message.tsx
  src/page/chat/messages/role/user-message.tsx
  src/page/chat/types/chat-response.ts
  src/page/chat/types/conversation.ts
  src/page/chat/utils.ts
  src/page/shared-chat/conversation.tsx
Due: eslint, prettier --check

chore(deps): Use @omnibox/react-common from GitHub instead of local link
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: Unify the button styles on the repair settings page
  src/components/button/index.tsx
  src/index.css
  src/page/sidebar/switcher/applications/index.tsx
  src/page/sidebar/switcher/form/api-key.tsx
  src/page/sidebar/switcher/form/profile.tsx
  src/page/sidebar/switcher/form/setting.tsx
  src/page/sidebar/switcher/manage/group/data.tsx
  src/page/sidebar/switcher/manage/member/action.tsx
  src/page/sidebar/switcher/manage/tasks/task-actions.tsx
Due: eslint, prettier --check

build(vite): Optimize code splitting strategy
  src/layout/error.tsx
  vite.config.ts
Due: eslint, prettier --check

chore(ci): Upgrade GitHub Actions to Node.js 24
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
Due: none

fix(ci): Add explicit pnpm version to action-setup
  .github/workflows/ci.yaml
Due: none

fix(ci): Use corepack to setup pnpm
  .github/workflows/ci.yaml
Due: none

fix(ci): Use npm to install pnpm globally
  .github/workflows/ci.yaml
Due: none

fix(ci): Use pnpm/action-setup with run_install: false
  .github/workflows/ci.yaml
Due: none

fix(ci): Remove version conflict and enable Node.js 24
  .github/workflows/ci.yaml
Due: none

revert: Restore original GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
Due: none
