Repository import-ai/omnibox-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

fix(chat): Preserve image links and hide shared image copies
  package.json
  pnpm-lock.yaml
  src/page/chat/messages/ChatMarkdownImage.test.tsx
  src/page/chat/messages/ChatMarkdownImage.tsx
  src/page/chat/messages/chatImageMarkdown.check.mjs
  src/page/chat/messages/chatImageMarkdown.ts
  src/page/chat/messages/chatImageUrl.test.ts
  src/page/chat/messages/chatImageUrl.ts
  src/page/chat/messages/citations/CitationMarkdown.tsx
Due: eslint, prettier --check

feat(auth): Unify desktop sign-in through the browser
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/user/DesktopAuthPage.tsx
  src/page/user/DesktopLoginPage.tsx
  src/page/user/EmbeddedAuthContext.tsx
  src/page/user/desktopAuth.test.tsx
  src/page/user/login/index.test.tsx
  src/page/user/login/index.tsx
Due: eslint, prettier --check

style(auth): Keep the Chinese slogan phrases together
  src/page/user/DesktopLoginPage.tsx
Due: eslint, prettier --check

style(auth): Place the slogan opening on its own line
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/user/DesktopLoginPage.tsx
  src/page/user/WrapperPage.tsx
Due: eslint, prettier --check

fix(auth): Refine desktop login actions and open the app automatically
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/user/DesktopAuthPage.tsx
  src/page/user/DesktopLoginPage.tsx
  src/page/user/desktopAuth.test.tsx
Due: eslint, prettier --check

refactor(auth): Reuse OAuth authorization for desktop sign-in
  nginx.conf.template
  src/App.tsx
  src/layout/index.tsx
  src/nginxConfig.test.ts
  src/page/inviteReferral/completeAuth.ts
  src/page/oauth/OAuthAuthorizePage.tsx
  src/page/user/DesktopAuthPage.tsx
  src/page/user/desktopAuth.test.tsx
Due: eslint, prettier --check

chore(i18n): Remove unused desktop sign-in messages
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
Due: prettier --check

refactor(auth): Move the desktop sign-in entry out of Web
  src/App.tsx
  src/hooks/AuthConfigContext.test.tsx
  src/hooks/AuthConfigContext.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/inviteReferral/completeAuth.ts
  src/page/oauth/OAuthAuthorizePage.test.tsx
  src/page/oauth/OAuthAuthorizePage.tsx
  src/page/settings/tabs/profile/index.tsx
  src/page/user/DesktopLoginPage.tsx
  src/page/user/EmbeddedAuthContext.tsx
  src/page/user/WrapperPage.tsx
  src/page/user/apple/index.tsx
  src/page/user/desktopAuth.test.tsx
  src/page/user/google/index.tsx
  src/page/user/login/index.test.tsx
  src/page/user/login/index.tsx
  src/page/user/wechat/index.tsx
Due: eslint, prettier --check

chore(nginx): Remove redundant OAuth log redaction maps
  nginx.conf.template
Due: none

docs(agents): Document the embedded host contract
  AGENTS.md
  README.md
  nginx.conf.template
Due: prettier --check

fix(auth): Preserve desktop OAuth continuation after session expiry
  src/App.tsx
  src/lib/request.test.ts
  src/lib/request.ts
  src/page/settings/SettingWrapper.tsx
  src/page/settings/SettingsExtensionsContext.test.tsx
  src/page/settings/SettingsSidebar.tsx
  src/page/settings/settingsExtensionsContext.ts
Due: eslint, prettier --check

fix(auth): Align OAuth button heights and dark theme colors
  src/components/button/index.tsx
  src/page/oauth/OAuthAuthorizePage.tsx
Due: eslint, prettier --check

fix(auth): Use the default login button height
  src/page/oauth/OAuthAuthorizePage.tsx
Due: eslint, prettier --check

feat(auth): Reuse browser OAuth for desktop sign-in (2600)
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  AGENTS.md
  src/App.tsx
  src/Bootstrap.tsx
  src/components/button/index.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/layout/index.tsx
  src/lib/request.test.ts
  src/lib/request.ts
  src/main.tsx
  src/page/inviteReferral/completeAuth.ts
  src/page/oauth/OAuthAuthorizePage.test.tsx
  src/page/oauth/OAuthAuthorizePage.tsx
  src/page/settings/SettingWrapper.tsx
  src/page/settings/SettingsExtensionsContext.test.tsx
  src/page/settings/SettingsSidebar.tsx
  src/page/settings/settingsExtensionsContext.ts
  src/page/user/WrapperPage.tsx
  src/page/user/contactMethod.test.tsx
  src/page/user/login/index.tsx
  src/page/user/register/index.tsx
  src/page/user/util.test.ts
  src/page/user/util.ts
Due: eslint, prettier --check

feat(runtime): Add browser device management and execution approval
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/chat/conversation/index.tsx
  src/page/localRuntime/DeviceSettings.tsx
  src/page/localRuntime/ExecutionCard.tsx
  src/page/localRuntime/ExecutionList.tsx
  src/page/localRuntime/runtime.test.ts
  src/page/localRuntime/runtime.ts
  src/page/settings/SettingWrapper.tsx
  src/page/settings/SettingsSidebar.tsx
Due: eslint, prettier --check

fix(local-runtime): Label device and command tools
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
Due: prettier --check

feat(local-runtime): Embed execution cards in tool call messages
  src/page/chat/conversation/index.tsx
  src/page/chat/messages/role/AssistantMessage.tsx
  src/page/localRuntime/ConversationExecutions.tsx
  src/page/localRuntime/ExecutionList.tsx
  src/page/localRuntime/runtime.ts
Due: eslint, prettier --check

feat(local-runtime): Redesign device settings and execution cards
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/localRuntime/ConversationExecutions.tsx
  src/page/localRuntime/DeviceSettings.tsx
  src/page/localRuntime/ExecutionCard.tsx
  src/page/localRuntime/ExecutionList.tsx
  src/page/localRuntime/ExecutionStatus.tsx
  src/page/localRuntime/runtime.ts
  src/page/settings/SettingWrapper.tsx
  src/page/settings/settingsExtensionsContext.ts
Due: eslint, prettier --check

refactor(local-runtime): Nest remove confirmation strings under the action
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/localRuntime/DeviceSettings.tsx
Due: eslint, prettier --check

docs(design): Add settings page UI conventions
  AGENTS.md
  DESIGN.md
Due: prettier --check

feat(chat): Display resource images in answers (423) (#623)
  package.json
  pnpm-lock.yaml
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/chat/messages/ChatMarkdownImage.test.tsx
  src/page/chat/messages/ChatMarkdownImage.tsx
  src/page/chat/messages/chatImageMarkdown.check.mjs
  src/page/chat/messages/chatImageMarkdown.ts
  src/page/chat/messages/chatImageUrl.test.ts
  src/page/chat/messages/chatImageUrl.ts
  src/page/chat/messages/citations/CitationMarkdown.tsx
Due: eslint, prettier --check

fix(runtime): Unify device naming across settings and executions
  src/App.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/localRuntime/ConversationExecutions.tsx
  src/page/localRuntime/DeviceIdentity.tsx
  src/page/localRuntime/DeviceSettings.tsx
  src/page/localRuntime/ExecutionCard.tsx
  src/page/localRuntime/RenameDevice.tsx
  src/page/localRuntime/runtime.ts
Due: eslint, prettier --check

fix(runtime): Isolate account state and display execution failures
  src/page/localRuntime/ConversationExecutions.tsx
  src/page/localRuntime/ExecutionCard.tsx
  src/page/localRuntime/ExecutionList.tsx
  src/page/localRuntime/ExecutionStatus.tsx
  src/page/localRuntime/RenameDevice.tsx
  src/page/localRuntime/Runtime.test.tsx
  src/page/localRuntime/runtime.ts
Due: eslint, prettier --check

feat(runtime): Add device settings and inline execution cards (2588)
  AGENTS.md
  DESIGN.md
  src/App.tsx
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/chat/conversation/index.tsx
  src/page/chat/messages/role/AssistantMessage.tsx
  src/page/localRuntime/ConversationExecutions.tsx
  src/page/localRuntime/DeviceIdentity.tsx
  src/page/localRuntime/DeviceSettings.tsx
  src/page/localRuntime/ExecutionCard.tsx
  src/page/localRuntime/ExecutionList.tsx
  src/page/localRuntime/ExecutionStatus.tsx
  src/page/localRuntime/RenameDevice.tsx
  src/page/localRuntime/Runtime.test.tsx
  src/page/localRuntime/runtime.test.ts
  src/page/localRuntime/runtime.ts
  src/page/settings/SettingWrapper.tsx
  src/page/settings/SettingsSidebar.tsx
  src/page/settings/settingsExtensionsContext.ts
Due: eslint, prettier --check

fix(chat): Label history search and reading tools
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/i18n/toolCallLabels.test.ts
Due: eslint, prettier --check

feat(chat): Load conversation history and details on demand
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/chat/components/SaveMain.tsx
  src/page/chat/conversation/ConversationContent.tsx
  src/page/chat/conversation/MessageDetailsContext.tsx
  src/page/chat/conversation/ProcessDetails.tsx
  src/page/chat/conversation/Scrollbar.tsx
  src/page/chat/conversation/conversationHistory.test.ts
  src/page/chat/conversation/conversationHistory.ts
  src/page/chat/conversation/useContext.test.tsx
  src/page/chat/conversation/useContext.ts
  src/page/chat/conversation/useConversationBootstrap.ts
  src/page/chat/conversation/useConversationHistory.ts
  src/page/chat/core/messageOperator.ts
  src/page/chat/core/types/chatResponse.ts
  src/page/chat/core/types/conversation.ts
  src/page/chat/messages/citations/CitationHoverIcon.tsx
  src/page/chat/messages/citations/CitationMarkdown.tsx
  src/page/chat/messages/citations/CitationMarkdownAnchor.test.tsx
  src/page/chat/messages/citations/CitationMarkdownAnchor.tsx
  src/page/chat/messages/citations/CitationsSheet.tsx
  src/page/chat/messages/citations/citationUtils.ts
  src/page/chat/messages/index.test.tsx
  src/page/chat/messages/index.tsx
  src/page/chat/messages/messageGroups.ts
  src/page/chat/messages/role/AssistantMessage.tsx
  src/page/chat/messages/role/ToolMessage.tsx
  src/page/chat/share/conversationShareGroups.ts
  src/page/chat/share/useConversationShare.test.tsx
  src/page/chat/share/useConversationShare.ts
  src/service/conversationShare.ts
Due: eslint, prettier --check

fix(chat): Preserve completed streaming details on refresh
  src/page/chat/conversation/conversationHistory.test.ts
  src/page/chat/conversation/conversationHistory.ts
Due: eslint, prettier --check

feat(chat): Load conversation history and details on demand (#625)
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/page/chat/components/SaveMain.tsx
  src/page/chat/conversation/ConversationContent.tsx
  src/page/chat/conversation/MessageDetailsContext.tsx
  src/page/chat/conversation/ProcessDetails.tsx
  src/page/chat/conversation/Scrollbar.tsx
  src/page/chat/conversation/conversationHistory.test.ts
  src/page/chat/conversation/conversationHistory.ts
  src/page/chat/conversation/useContext.test.tsx
  src/page/chat/conversation/useContext.ts
  src/page/chat/conversation/useConversationBootstrap.ts
  src/page/chat/conversation/useConversationHistory.ts
  src/page/chat/core/messageOperator.ts
  src/page/chat/core/types/chatResponse.ts
  src/page/chat/core/types/conversation.ts
  src/page/chat/messages/citations/CitationHoverIcon.tsx
  src/page/chat/messages/citations/CitationMarkdown.tsx
  src/page/chat/messages/citations/CitationMarkdownAnchor.test.tsx
  src/page/chat/messages/citations/CitationMarkdownAnchor.tsx
  src/page/chat/messages/citations/CitationsSheet.tsx
  src/page/chat/messages/citations/citationUtils.ts
  src/page/chat/messages/index.test.tsx
  src/page/chat/messages/index.tsx
  src/page/chat/messages/messageGroups.ts
  src/page/chat/messages/role/AssistantMessage.tsx
  src/page/chat/messages/role/ToolMessage.tsx
  src/page/chat/share/conversationShareGroups.ts
  src/page/chat/share/useConversationShare.test.tsx
  src/page/chat/share/useConversationShare.ts
  src/service/conversationShare.ts
Due: eslint, prettier --check

fix(history): Label scoped conversation tools
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/i18n/toolCallLabels.test.ts
Due: eslint, prettier --check

fix: fix editor table 2630
  package.json
  pnpm-lock.yaml
Due: prettier --check

feat(chat): Label the list_resource_comments tool call (2653)
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
Due: prettier --check

fix(chat): Show pending message before creating conversation
  src/page/chat/ChatHomePage.tsx
Due: eslint, prettier --check

fix: shorten related-task failed label
  src/i18n/locales/zh.json
Due: prettier --check

fix: shorten related-task failed label (#628)
  src/i18n/locales/zh.json
Due: prettier --check

fix(editor): Update table fixes to version 0.0.57
  package.json
  pnpm-lock.yaml
  src/page/resource/resourceEditor.css
Due: prettier --check

fix(settings): update user card style
  src/components/user-card/index.tsx
Due: eslint, prettier --check

feat(captcha): Run Aliyun Captcha 2.0 before sending OTP codes (2587) (#617)
  AGENTS.md
  nginx.conf.template
  src/App.tsx
  src/components/captcha/CaptchaMount.tsx
  src/components/ui/Dialog.tsx
  src/hooks/useCaptcha.test.tsx
  src/hooks/useCaptcha.ts
  src/hooks/useVerificationCode.ts
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/index.css
  src/layout/authStorage.ts
  src/lib/captcha.ts
  src/nginxConfig.test.ts
  src/page/captcha/CaptchaPage.tsx
  src/page/inviteReferral/InvitePhoneBindingDialog.tsx
  src/page/settings/tabs/account/EmailValidate.tsx
  src/page/settings/tabs/account/PhoneValidate.tsx
  src/page/user/VerifyOtpPage.tsx
  src/page/user/login/LoginForm.tsx
  src/page/user/register/RegisterForm.tsx
Due: eslint, prettier --check

refactor(history): Remove legacy tool labels
  src/i18n/locales/en.json
  src/i18n/locales/zh.json
  src/i18n/toolCallLabels.test.ts
Due: eslint, prettier --check

refactor(editor): Remove v1 and hide previews
  AGENTS.md
  src/components/markdown/index.css
  src/components/markdown/index.test.tsx
  src/components/markdown/index.tsx
  src/page/resource/Page.tsx
  src/page/resource/Render.tsx
  src/page/resource/ResourceDetailView.test.tsx
  src/page/resource/ResourceDetailView.tsx
  src/page/resource/comments/ResourceCommentsModeSwitch.test.tsx
  src/page/resource/editor/const.ts
  src/page/resource/editor/index.tsx
  src/page/resource/header/index.tsx
  src/page/resource/resourceStore.ts
  src/page/resource/scrollToLine.test.ts
  src/page/resource/scrollToLine.ts
  src/page/resource/searchHighlight.test.ts
  src/page/resource/searchHighlight.ts
  src/page/resource/useResourcePaneLayout.test.ts
  src/page/resource/useResourcePaneLayout.ts
  src/page/settings/SettingsExtensionsContext.test.tsx
  src/page/settings/SettingsSidebar.tsx
  src/page/share/ShareLayout.test.tsx
  src/page/share/ShareLayout.tsx
  src/page/share/index.tsx
  src/page/sidebar/components/namespace-switcher/index.tsx
  src/styles/vditor-patch.css
Due: eslint, prettier --check

docs(settings): Note preview reactivation steps
  src/page/settings/SettingsSidebar.tsx
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --check: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{js,css,json,md})
